In [4]:
import pandas as pd
#needed pip install panda & pip install openpyxl
archivo = "C:\\Users\\ADMIN\Desktop\\Proyecto Final\\DETALLE DE VEHICULOS.xlsx"
df = pd.read_excel(archivo, sheet_name='Hoja1')
print(df)

      PLACA       MARCA       MODELO          CLASE           COLOR   AÃ‘O  \
0   P131011      TOYOTA      COASTER       MICROBUS          BLANCO  2011
1   P243639      TOYOTA  COROLLA GLI      AUTOMOVIL          BLANCO  2013
2   P122798      TOYOTA  COROLLA GLI      AUTOMOVIL          BLANCO  2012
3   P585515  MITSUBISHI          N/D       MICROBUS            AZUL  2008
4     N6647      NISSAN     FRONTIER    PICK UP 4X2          BLANCO  2013
..      ...         ...          ...            ...             ...   ...
57   C72526       ISUZU          NMR  CAMION PESADO          BLANCO  2012
58   C72530       ISUZU          NMR  CAMION PESADO          BLANCO  2012
59  P592075      NISSAN    TIIDA SE       AUTOMOVIL  PLATEADO CLARO  2008
60    N5351     HYUNDAI       I10 GL      AUTOMOVIL          BLANCO  2016
61    N5388     HYUNDAI       I10 GL      AUTOMOVIL          BLANCO  2016

   COMBUSTIBLE  CAPACIDAD     No. MOTOR         No. CHASIS No. VIN
0       DIESEL  30.00 ASS    1HZ0650288  JTGFB518601039825     N/T
1     GASOLINA   5.00 ASS    2ZR1080876  JTDBL42E60J109685     N/T
2     GASOLINA   5.00 ASS    2ZR0939589  JTDBL42E009169642     N/T
3       DIESEL  12.00 ASS    4D56LG7671  JMYHNP15W8A000785     NaN
4     GASOLINA   1.50 TON   KA24592126A  3N6DD23T4ZK915864     N/T
..         ...        ...           ...                ...     ...
57      DIESEL    4.0 TON        938003  JAANMR71HC7100021     N/T
58      DIESEL    4.0 TON        938092  JAANMR71HC7100022     N/T
59    GASOLINA   5.00 ASS   HR16317385A  JN1BCAC11Z0011796     N/T
60    GASOLINA   5.00 ASS  G4HGFM892522  MALAN51BAGM635399     N/T
61    GASOLINA   5.00 ASS  G4HGFM904397  MALAN51BAGM646300     N/T

[62 rows x 11 columns]